extends ../light

block content
  form.form-login.col8(method='post'
    action='/admin/login')
    fieldset
      input(type='hidden'
        name='user[remember]'
        value='1')
      input.col3(type='text'
        name='user[email]'
        placeholder='Email')
      input.col3(type='password'
        name='user[password]'
        placeholder='Password')
      input.btn(
        type='submit'
        value='Login')
