- if (note.comments > 0) {
.mod#comments
  .hd
    h3 Comments...
  .bd
    ul.comments
      - comments.forEach(function(c, i) {
        li.item('data-cid'= c.id)
          .comment-hd
            img(class='avatar', src= c.gravatar)
            - if (c.website) {
              a.author(href=c.website
                target='_blank')= c.author
            - } else {
              span.author= c.author
            - }
            br
            time= c.readableDate
          .comment-bd
            != c.bodyParsed
            - if (user.salt) {
            .comment-opt
              a(href='#').del-comment 删除 
            - }
      - });
    script Do('comment');
- }

.mod
  .hd
    h3 New Comment
  .bd
    form.add-comment.form-vertical(
      method='post'
      action='comment')

      if user.salt
        input(type='hidden', name='comment[author]', value= user.name)
        input(type='hidden', name='comment[email]', value= user.email)
        input(type='hidden', name='comment[website]', value= user.website)
      else
        .field-group
          label.field-label(for='cmt-author') Name
          .fields
            input.col7(type='text'
              name='comment[author]'
              id='cmt-author'
              value= user.name
              required='required')

        .field-group
          label.field-label(for='cmt-email') Email
          .fields
            input.col7(type='email'
              name='comment[email]'
              id='cmt-email'
              value= user.email
              maxlength='50'
              placeholder='Only used for Gravatar, will not be published'
              required='required')

        .field-group
          label.field-label(for='cmt-website') Website
          .fields
            input.col7(type='url'
              name='comment[website]'
              id='cmt-website'
              value= user.website)

      .field-group
        label.field-label(for='cmt-box')
          if !user.salt
            ='Comment'
        .fields
          .editor
            .editbar
              .codebar
                a#add-js(href='#')= '<script>' 
              em.tips Comments are parsed with Markdown
            textarea#cmt-box(name='comment[body]'
              required='required')

      .field-group
        script.
          var RecaptchaOptions = {
             theme : 'clean'
          };
        != recaptcha_form

      .form-actions
        input.btn(type='submit'
          name='submit'
          value="submit")

    script Do('editor')
