extends layout

block content
  section
    .main
      - if (notes.length) {
      - notes.forEach(function(note) {
        article
          header
            h2
              a(href= note.url)= note.title
            time= note.readableDate
          .content!= note.bodyParsed
          footer
            span.post-meta= 'Posted in '
              - note.tags.forEach(function(tag) {
                - if (tag) {
                    a.tag(href= '/tags/' + tag)= tag
                - }
              - })
              | ,&nbsp;&nbsp;by&nbsp;
              = admin
              | ,&nbsp;&nbsp;
              a(href= note.url + '#comments')= note.comments + ' comments'
      - })
      - }
  aside
    .grey-mod
      include includes/owner
    .mod
      .hd
        h3 Latest
      .bd
        // render notes list
        include includes/list

    .mod
      .hd
        h3 Comments
      .bd
        ul.terse-list
          - comments.forEach(function(comment) {
            - if (comment) {
              li
                img.avatar(src=comment.gravatar)
                p.info
                  = comment.author
                  em on
                  br
                  a(href=comment.nurl)= comment.ntitle
            - }
          - })
    .mod
      .hd
        h3 Friends
      .bd
        ul.links
          li
            ='Tifa · '
            a(href='http://tifafa.com') Studio Tifafa
    if user
      include includes/privilege

    .mod
      a.atom(href='/atom.xml') Subscribe
