!!! 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
    title= title
    script
      !{istatic('js/lib/do/inline.js')}
      !{istatic('js/main.js')}
    link(
      rel='stylesheet'
      href='/css/main.css')
      link(
        rel='alternate'
        href='/atom.xml'
        type='application/atom+xml'
        title='Mockee Nodes')
  body
    .wrapper
      include includes/header
      != body
      include includes/footer
