fieldset
  .field-group
    label.field-label(for='title') 标题
    .fields
      input#title.col8(type='text'
        name='note[title]'
        value= note.title || '')

  - if (method === 'create') {
  .field-group
    label.field-label(for='slug') slug 
    .fields
      input#slug.col8(type='text'
        name='note[slug]')
  - }

  .field-group
    label.field-label(for='text') 正文
    .fields
      textarea#text.col10(rows='20', name='note[body]')= note.body || ''

  .field-group
    label.field-label(for='tags') tags 
    .fields
      input#tags.col8(type='text'
        name='note[tags]'
        value= note.tags.join(' ') || '')

  .form-actions
    - if (method === 'edit') {
    input(name='id', value=note.id, type='hidden')
    input(name='_method', value='PUT', type='hidden')
    - }
    input.btn(type='submit', name='submit')
